<div class="container">
    <div class="row">
        <div class="col-md-6">
        <div class="row">
            <label for="">Nombre</label>
            <input type="text">
        </div>
        
        <div class="row">
            <label for="">Cantidad Personas</label>
            <input type="number">
        </div>
        
        <div class="row">
            <label for="">Tarjeta Cinepolis</label>
            <div>
                <input type="radio"><label for="">Sí</label>
                <input type="radio"><label for="">No</label>
            </div>
        </div>
    
        <div class="row">
            <label for="">Cantidad Boletos</label>
            <input type="number">
        </div>
    </div>


    <div class="col-md-3">
        <div class="p-4">
            <h4>Buttons</h4>
        </div>

        <div class="p-4">
            <h4>OutPut</h4>
            
        </div>
    </div>

    </div>

    
    

</div>